<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projectaikirapoc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5b595887-2020-4a3c-92e4-8ac65b4452b2/resourceGroups/Development/providers/Microsoft.Web/sites/ProjectAikiraPOC</ResourceId>
    <UserName>$ProjectAikiraPOC</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://projectaikirapoc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>